@media screen and (max-width: 600px) {
    .left-side, .right-side {
        width: 100%;
    }
}

.card img{
    display: block;
}

.no-list{
    list-style: none;
    padding: 0;
}

.col-md-4{
    width: fit-content;
}