.left-side{
    width: 66%;
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 10px;
}

.right-side{
    width: 30%;
    float: right;
    box-sizing: border-box;
    margin: 10px;
}

.card img{
    display: block;
}