.card img{
    width: 200px;
    height: 200px;
    display: block;
}

.card-group{
    margin: 10px;
}

.no-deco{
    text-decoration: none;
    color: black;
}

.no-deco:hover{
    text-decoration: none;
    color: black;
}

.op-btn{
    background-color: #ffac04;
    padding: 5px;
    margin: 5px;
}

.op-btn img{
    width: 75px;
    height: 75px;
}

.op-btn:hover{
    background-color: #ffac04;
}

.search-bar{
    width: 18rem;
}