.gallery{
    justify-content: center;
    align-items: center;
    align-content: center;

}

.gallery img{
    width: 400px;
    height: 225px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.gallery img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
